.navbar {
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, .08);
}

.navbar-brand {
  font-weight: 700;
  color: red;
}

.navbar .nav-link {
  font-weight: 500;
  color:black;
}
.social a{
  font-size: medium;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: red;
}

.d-md-block{
  backdrop-filter: blur(3px);
}

